In [ ]:
#Experiment 6
#Name- Divij bhandari
#25070123160
#title - study of conditional statements in python

In [ ]:
#1a. check whether a number is positive, negative or zero

num = int(input("Enter a number: "))
if num > 0:
    print("The number is positive.")
elif num < 0:
    print("The number is negative.")
else:
    print("The number is zero.")

Enter a number: 5
The number is positive.

In [ ]:
#2. chech whether the given number is odd or even
num = int(input("Enter a number: "))

if num % 2 == 0:
    print(f"{num} is an even number.")
else:
    print(f"{num} is an odd number.")

Enter a number: 8
8 is an even number.

In [ ]:
#3. check the largest number between 3 inputs
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
num3 = float(input("Enter the third number: "))

if (num1 >= num2) and (num1 >= num3):
    largest = num1
elif (num2 >= num1) and (num2 >= num3):
    largest = num2
else:
    largest = num3

print(f"The largest number is {largest}.")

Enter the first number: 6
Enter the second number: 7
Enter the third number: 8
The largest number is 8.0.

In [ ]:
#4. get the input from user for one subject and
#calculate the grade using if else
score = float(input("Enter the score for the subject (0-100): "))

if score >= 90:
    grade = 'A'
elif score >= 75:
    grade = 'B'
elif score >= 60:
    grade = 'C'
elif score >= 40:
    grade = 'D'
else:
    grade = 'F'

print(f"For a score of {score}, the grade is: {grade}")

Enter the score for the subject (0-100): 99
For a score of 99.0, the grade is: A

In [ ]:
#5. given year is a leap year or not
year = int(input("Enter a year: "))

if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print(f"{year} is a leap year.")
else:
    print(f"{year} is not a leap year.")

Enter a year: 2865
2865 is not a leap year.

In [ ]:
#6.write a python program to incriment the date
from datetime import datetime, timedelta

date_str = input("Enter a date (YYYY-MM-DD): ")

try:
    # Parse the input string into a datetime object
    current_date = datetime.strptime(date_str, '%Y-%m-%d')

    # Increment the date by one day
    next_date = current_date + timedelta(days=1)

    print(f"The next day is: {next_date.strftime('%Y-%m-%d')}")
except ValueError:
    print("Invalid date format. Please use YYYY-MM-DD.")

Enter a date (YYYY-MM-DD): 2016-09-26
The next day is: 2016-09-27

In [ ]:
'''Problem statement
write a python statement to calculate the gross salary of an employee based

if basic <= 10000: HRA = 20%, DA = 80%

if basic <= 20000: HRA = 25%, DA = 90%

orthewise HRA = 30%, DA = 95%'''

basic_salary = float(input("Enter the basic salary: "))

if basic_salary <= 10000:
    hra = 0.20 * basic_salary
    da = 0.80 * basic_salary
elif basic_salary <= 20000:
    hra = 0.25 * basic_salary
    da = 0.90 * basic_salary
else:
    hra = 0.30 * basic_salary
    da = 0.95 * basic_salary

gross_salary = basic_salary + hra + da

print(f"Basic Salary: {basic_salary}")
print(f"HRA: {hra}")
print(f"DA: {da}")
print(f"Gross Salary: {gross_salary}")

Enter the basic salary: 10000
Basic Salary: 10000.0
HRA: 2000.0
DA: 8000.0
Gross Salary: 20000.0

In [ ]:
''' write a python program to calculate income tax based on annual income

 up to $2,50,000:no tax

 $2,50,001 - $5,00,000: 5%

 $5,00,001 - $10,00,000: 20%

above $10,00,000: 30%

In [ ]:
annual_income = float(input("Enter your annual income: "))

tax = 0

if annual_income <= 250000:
    tax = 0
elif annual_income <= 500000:
    # 5% on income from $2,50,001 to $5,00,000
    tax = (annual_income - 250000) * 0.05
elif annual_income <= 1000000:
    # Tax on first slab (2,50,001 - 5,00,000) is (500000 - 250000) * 0.05 = 12500
    # Plus 20% on income from $5,00,001 to $10,00,000
    tax = (500000 - 250000) * 0.05  # Tax for the 5% slab
    tax += (annual_income - 500000) * 0.20 # Tax for the 20% slab
else:
    # Tax on first slab (2,50,001 - 5,00,000) is (500000 - 250000) * 0.05 = 12500
    # Tax on second slab (5,00,001 - 10,00,000) is (1000000 - 500000) * 0.20 = 100000
    # Plus 30% on income above $10,00,000
    tax = (500000 - 250000) * 0.05  # Tax for the 5% slab
    tax += (1000000 - 500000) * 0.20 # Tax for the 20% slab
    tax += (annual_income - 1000000) * 0.30 # Tax for the 30% slab

print(f"Annual Income: ${annual_income:,.2f}")
print(f"Income Tax: ${tax:,.2f}")

Enter your annual income: 1200000
Annual Income: $1,200,000.00
Income Tax: $172,500.00

In [ ]:
#check whether a character is vowel or consonant
letter = input("Enter a letter: ").lower()

if letter in 'aeiouAEIOU':
    print(f"{letter} is a vowel")
else:
    print(f"{letter} is a consonant")

Enter a letter: A
a is a vowel

In [ ]:
date=input("Enter date in dd/mm/yyyy format: ")
dd,mm,yy=date.split("/")
if(mm==1 or mm==3 or mm==5 or mm==7 or mm==8 or mm==10 or mm==12):
  max1=31
elif(mm==4 or mm==6 or mm==9 or mm==11):
  max1=30
elif(yy%4==0 and yy%100!=0 or yy%400==0):
  max1=29
else:
  max=28
if(mm<1 or mm>12):
  print("Date is invalid")
elif(dd<1 or dd>max1):
  print("Date is invalid")
elif(dd==max1 and mm!=12):
  dd=1
  mm=mm+1
  print("The incremented date is: ",dd,mm,yy)
elif(dd==31 and mm==12):
  dd=1
  mm=1
  yy=yy+1
  print("The incremented date is: ",dd,mm,yy)
else:
  dd=dd+1
  print("The incremented date is: ",dd,mm,yy)